[Unit]
Description=Service for Story Game
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/app/init.sh

[Install]
WantedBy=multi-user.target